# Python Einführung
## Unterüberschrift
normalen text **fett** *kursiv*
- Punkt 1
- Punkt 2
- Punkt 3

In [15]:
print ("Hello World")

Hello World

In [16]:
# Das ist ein Kommentar
print ("etwas")

etwas

In [17]:
# Datentypen
name = "Lovelace"

In [18]:
print (name)

Lovelace

In [19]:
name

'Lovelace'

In [20]:
age = 73

In [21]:
size = 1.7123

In [22]:
knows_math = True
print (knows_math)
likes_slacking = False
print(likes_slacking)

True
False

In [23]:
# Operatoren
5 + 5

10

In [24]:
age * 100

7300

In [25]:
name

'Lovelace'

In [26]:
name + name

'LovelaceLovelace'

In [27]:
name * 10

'LovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelace'

In [28]:
name + 10

TypeError: can only concatenate str (not "int") to str

In [29]:
name + "10"

'Lovelace10'

In [30]:
size/age

0.023456164383561642

In [31]:
name + str(10)

'Lovelace10'

In [32]:
number_of_articles = "50"

In [33]:
number_of_articles = int(number_of_articles)

In [34]:
type(number_of_articles)

int

In [35]:
type(number_of_articles)

int

# Funktionen und Methoden

In [36]:
name

'Lovelace'

In [37]:
len(name)

8

In [38]:
name.upper()

'LOVELACE'

In [39]:
print(name)

Lovelace

In [40]:
name_upper = name.upper()

In [41]:
print(name_upper)

LOVELACE

In [42]:
name.count("e")

2

In [43]:
name.replace("lace", "is everywhere")

'Loveis everywhere'

In [44]:
name.replace("lace", " is everywhere")

'Love is everywhere'

## Listen und Dictionaries

In [45]:
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [46]:
names[2]

'Curie'

In [47]:
names[1]

'Darwin'

In [48]:
names[3]

'Hawking'

In [49]:
names[-1]

'Hawking'

In [50]:
names[0:3]

['Lovelace', 'Darwin', 'Curie']

In [51]:
names[:2]

['Lovelace', 'Darwin']

In [52]:
names[2:]

['Curie', 'Hawking']

In [53]:
authors_and_birth_years = {"Lovelace": 1882,
                           "Darwin" : 1809,
                           "Noether": 1882}

In [54]:
authors_and_birth_years["Darwin"]

1809

In [55]:
authors_and_birth_years["Noether"]

1882

In [56]:
authors_and_birth_years["Noether"]

1882

## for-schleife

In [58]:
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [61]:
for name in names:
    print(name + " did awesome stuff")
    print("-------------------------")

Lovelace did awesome stuff
-------------------------
Darwin did awesome stuff
-------------------------
Curie did awesome stuff
-------------------------
Hawking did awesome stuff
-------------------------

In [62]:
for name in names:
    print(name + " did awesome stuff")
print("-------------------------")

Lovelace did awesome stuff
Darwin did awesome stuff
Curie did awesome stuff
Hawking did awesome stuff
-------------------------

## Bedingte Anweisungen (Conditionals)

In [65]:
temp = 10
if temp > 15:
    print("It's warm")

In [64]:
20 > 15

True

In [67]:
temp = 5
if temp > 15:
    print("It's warm")
else:
    print("It's cold")

It's cold

In [70]:
temp = 24
if temp >= 25:
    print("It's hot")
elif temp > 15:
    print("It's warm")
else:
    print("It's cold")

It's warm

In [71]:
authors_and_birth_years = {"Lovelace": 1882,
                           "Darwin" : 1809,
                           "Noether": 1882}

In [72]:
for author in authors_and_birth_years.keys():
    print(author)

Lovelace
Darwin
Noether

In [73]:
authors_and_birth_years.keys()

dict_keys(['Lovelace', 'Darwin', 'Noether'])

In [74]:
authors_and_birth_years.values()

dict_values([1882, 1809, 1882])

In [75]:
for author, birth_year in authors_and_birth_years.items():
    print(author)

Lovelace
Darwin
Noether

In [76]:
for author, birth_year in authors_and_birth_years.items():
    print(author)print(authors_and_birth_years)

SyntaxError: invalid syntax (<ipython-input-76-6324b68a6c05>, line 2)

In [77]:
for author, birth_year in authors_and_birth_years.items():
    print(author) + print(authors_and_birth_years)

Lovelace
{'Lovelace': 1882, 'Darwin': 1809, 'Noether': 1882}

TypeError: unsupported operand type(s) for +: 'NoneType' and 'NoneType'

In [78]:
for author, birth_year in authors_and_birth_years.items():
    print(author)
    print + (authors_and_birth_years)

Lovelace

TypeError: unsupported operand type(s) for +: 'builtin_function_or_method' and 'dict'

In [80]:
for author, birth_year in authors_and_birth_years.items():
    print(author + "was born in" + str(birth_year))

Lovelacewas born in1882
Darwinwas born in1809
Noetherwas born in1882